@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

* {
     margin: 0;
     padding: 0;
     font-family: 'pappins', 'sans-serif';
     box-sizing: border-box;
}



/* start Navbar */
.navbar {}

.navbar-brand {
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: 'Fasthand',
          cursive;
}

.navbar-brand img {
     width: 120px;
     object-fit: cover;
     padding: 5px 0 5px 0;
}


.navbar-nav {
     display: flex;
     justify-content: flex-end;
     width: 100%;
}


.nav-item {
     margin: 0 7px 0 7px;
}

.nav-item:hover {
     cursor: pointer;
}

/* end navbar */
/* start parentSection */
.parentSection {

     display: grid;
     grid-template-columns: auto auto auto;
     height: fit-content;
     width: 99vw;

}

.iconsbar {
     align-self: flex-end;
     height: 100%;
     width: 8vw;
     color: gray;
     background-color: #2B2D2F;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     padding: 20px 30px 20px 20px;
     list-style: none;
     text-align: center;
}

.iconsbar ul li {
     list-style: none;
}

.iconsbar ul li:hover {
     color: white;
     cursor: pointer;
}

.library {
     align-self: flex-end;
     height: 98vh;
     width: 14vw;
     background-color: rgb(27, 28, 29);
}

.library h4 {
     color: white;
     padding: 20px;
}

.library ul {
     padding: 0 20px;
}

.library ul li {
     list-style-type: none;
     font-size: 20px;
     padding: 10px 0;
     color: white;
}

.library ul li:hover {
     cursor: pointer;
}

.fa-heart {
     color: rgb(159, 157, 254);
     ;
     padding-right: 20px;
}

.fa-download {
     color: rgb(77, 154, 220);
     ;
     padding-right: 20px;
}

.fa-play {
     color: rgb(134, 100, 155);
     ;
     padding-right: 10px;
}

.fa-plus {
     color: rgb(233, 100, 176);
     padding-right: 10px;
}

.fa-rectangle-list {
     color: rgb(129, 208, 217);
     ;
     padding-right: 10px;
}

.fa-music {
     color: rgb(245, 204, 131);
     padding-right: 10px;
}

.fa-microphone {
     color: rgb(123, 161, 243);
     padding-right: 10px;
}

.content {
     justify-content: flex-end;
     width: 77vw;
     height: 98vh;
     background-color: rgb(27, 28, 29);
}

/* end parentSection */


/* start topArtist  */
.topArtistHeading {
     margin: 40px 20px 40px 20px;
     width: 97vw;


     margin-left: -5px;
}

.topArtistHeading h3 {
     text-align: left;
     padding: 0 0 20px 0;
     color: white;
     font-size: 35px;
     font-weight: bold;
}

.topArtist {
     display: grid;
     grid-template-columns: auto auto auto auto auto;
}

.cart {
     text-align: center;
}

.cart:hover {
     transform: scale(1.1);
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -ms-transform: scale(1.1);
     -o-transform: scale(1.1);
     transition: .2s;
     -webkit-transition: .2s;
     -moz-transition: .2s;
     -ms-transition: .2s;
     -o-transition: .2s;
}

.artistImg {
     width: 150px;
     height: 150px;
     border-radius: 50%;
     border: 8px solid #fff;

     box-shadow: 0 10px 60px rgba(255, 26, 26, .22);
     object-fit: cover;
     cursor: pointer;
}


.artistName {
     color: white;
     text-align: center;
     padding-top: 10px;
     font-size: 20px;
     text-transform: capitalize !important;
}

.artistName:hover {
     cursor: pointer;
     text-decoration: underline;
}

/* end topArtist  */

/* start topAlbumsHeading  */
.topAlbumsHeading {

     margin: 40px 20px 40px 20px;
     width: 100vw;
     margin-left: -5px;



}

.topAlbumsHeading h3 {
     text-align: left;
     padding: 0 0 20px 0;
     color: white;
     font-size: 35px;
     font-weight: bold;
}

.topAlbums {
     display: grid;
     grid-template-columns: auto auto auto auto auto;
}

.cart {
     text-align: center;
}

.cart:hover {
     transform: scale(1.1);
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -ms-transform: scale(1.1);
     -o-transform: scale(1.1);
     transition: .2s;
     -webkit-transition: .2s;
     -moz-transition: .2s;
     -ms-transition: .2s;
     -o-transition: .2s;
}

.albumImg {
     width: 150px;
     height: 150px;
     border-radius: 50%;
     border: 8px solid #fff;
     box-shadow: 0 10px 60px rgba(255, 26, 26, .22);
     object-fit: cover;
     cursor: pointer;
}

.albumName {
     color: white;
     text-align: center;
     padding-top: 10px;
     font-size: 18px;
     text-transform: capitalize !important;
}

.albumName:hover {
     cursor: pointer;
     text-decoration: underline;
}

/* end topAlbumsHeading  */


/* start afav section */
#favouriteSection {
     width: 100%;
     /* height: 800px !important; */
     margin-top: 140px;
     background-color: #2B2D2F;
     border: 2px solid white;
     overflow-y: scroll;

}


#favouriteSection h3 {
     text-align: center;
     padding: 0 0 20px 0;
     color: white;
     font-size: 35px;
     font-weight: bold;
     margin-left: 10px;
}

#favourite h3 {
     text-align: center;
     color: white;
     padding: 20px;
}

/* end audio section */
/* start displaySongs  */
.displaySongs {
     border: 2px solid red;
     display: grid;
     grid-template-columns: auto auto;
     height: 400px;
     background-color: #2B2D2F;
}

/* end displaySongs  */

#track {
     height: 400px;
     background-color: #2B2D2F;
}

#track h3 {
     text-align: center;
     padding: 20px 0 20px 0;
     color: white;
     font-size: 35px;
     font-weight: bold;
}

#songImg {
     width: 150px;
     height: 150px;
     border-radius: 50%;
     border: 4px solid #fff;
     box-shadow: 0 10px 60px rgba(255, 26, 26, .22);
     object-fit: cover;
}

.songText {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
}

.songDetails {
     display: flex;
     text-align: center;
     justify-content: space-evenly;
}

.song {
     color: white;
}

.singer {
     color: white
}

.music-player h1 {
     font-size: 100px;
     font-weight: 400px;
     color: white;
     margin-top: 20px;
}

.music-player p {
     font-size: 14px;
     color: #333;
}

#progress {
     -webkit-appearance: none;
     width: 50%;
     height: 6px;
     cursor: pointer;
     margin: 80px 0;
}

#progress::-webkit-slider-thumb {
     -webkit-appearance: none;

     width: 30px;
     height: 30px;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     border: 8px solid #fff;
     box-shadow: 0 5px 5px rgba(255, 26, 26, .22)
}

.controls {
     display: flex;
     justify-content: center;
     align-items: center;
}

.controls div {
     width: 60px;
     height: 60px;
     margin: 20px;
     display: inline-flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     color: #f53192;
     box-shadow: 0 10px 20px rgba(255, 26, 26, .22);
     cursor: pointer;
}

.controls div:nth-child(2) {
     transform: scale(1.5);
     -webkit-transform: scale(1.5);
     -moz-transform: scale(1.5);
     -ms-transform: scale(1.5);
     -o-transform: scale(1.5);
     color: white;
}

.favCart {
     border: 1px solid white;
     background-color: #c6c6c615;
     display: grid;
     grid-template-columns: auto auto auto auto auto;
     align-items: center;
     margin-top: 10px;
}

.favCart .favArtist,
.favCart .favSong,
.favCart .songDuration {
     color: white;
     text-align: center;
     padding-top: 10px;
}

.favCart .favImg {
     width: 50px;
     height: 50px;
     object-fit: contain;

}